[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

bitstring = "*"
semver = "*"
jsonschema = "*"
tqdm = "*"
ndcpy = {git = "https://github.com/meunierd/ndcpy.git@b8cbb5f63f7868af092dfcebeeee21d0965a82b6", editable=true}
openpyxl = "*"
pygsheets = "*"
xlsxwriter = "*"


[dev-packages]

